Repository havesource/cordova-plugin-push, pull requests merged in 2024-12, with the labels that each got.

#317 fix(ios): make sure notificationMessage is immutable
  src/ios/PushPlugin.m
Labels: ios

#321 fix(ios): exclude configure if FirApp is already configured
  src/ios/PushPluginFCM.m
Labels: bug, ios

#325 fix(android): prevent permission dialog appearing when already denied
  src/android/com/adobe/phonegap/push/PushPlugin.kt
Labels: bug, android

#326 fix(ios): request new permissions based on ios config changes
  src/ios/PushPlugin.m
Labels: bug, ios

#331 fix(android): add missing import androidx.core.app.ActivityCompat
  src/android/com/adobe/phonegap/push/PushPlugin.kt
Labels: bug, android

#332 fix(ios): forceShow to display toast but trigger event until tapped
  docs/API.md
  src/ios/PushPlugin.m
Labels: bug, ios

#333 fix(ios): dont trigger notificationReceived on app reload
  src/ios/PushPlugin.m
Labels: bug, ios
